<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="SWT Action Set"
            visible="true"
            id="org.eclipse.swt.tools.actionSet">
         <menu
               label="SWT &amp;Menu"
               id="swtMenu">
            <separator
                  name="swtGroup">
            </separator>
         </menu>
         <action
               label="&amp;Sleak"
               icon="icons/sample.gif"
               class="org.eclipse.swt.tools.actions.SleakAction"
               tooltip="SWT Sleak"
               menubarPath="swtMenu/swtGroup"
               toolbarPath="swtGroup"
               id="org.eclipse.swt.tools.actions.SleakAction">
         </action>
      </actionSet>
   </extension>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="SWT Tools"
            id="org.eclipse.swt.swt.tools">
      </category>
      <view
            name="Mac Generator View"
            icon="icons/sample.gif"
            category="org.eclipse.swt.swt.tools"
            class="org.eclipse.swt.tools.views.MacGeneratorView"
            id="org.eclipse.swt.tools.views.MacGeneratorView">
      </view>
   </extension>

</plugin>
